<div class="col-xs-2 user-box">
  <div class="row">
    <div class="col-lg-12 user-picture">
      <a href="#users/<%= user.id %>">
        <img src="<%= user.get('file_url') %>" alt="<%= user.escape('name') %>" class="img-rounded img-responsive center-block">
      </a>
    </div>
  </div>
</div>
<div class="col-xs-10">
  <% if (user.id === reviewAuthor.id) { %>
    <h4><a href="#users/<%= user.id %>"><%= user.escape('name') %></a> commented on their review of <a href="#shows/<%= show.id %>"><%= show.escape('name') %></a></h4>
  <% } else { %>
    <h4><a href="#users/<%= user.id %>"><%= user.escape('name') %></a> commented on <%= reviewAuthor.escape('name') %>'s review of <a href="#shows/<%= show.id %>"><%= show.escape('name') %></a></h4>
  <% } %>
</div>
<div class="col-xs-10">
  <div class="col-sm-3 show-box">
    <div class="row">
      <div class="col-lg-12 show-picture">
        <a href="#shows/<%= show.id %>">
          <img src="https://image.tmdb.org/t/p/w185<%= show.get('poster_path') %>" alt="" class="img-responsive center-block">
        </a>
      </div>
    </div>
    <div class="row show-title">
      <div class="col-lg-12 text-center">
        <a class="h6" href="#shows/<%= show.id %>"><%= show.escape('name') %></a>
      </div>
    </div>
    <div class="row">
      <div class="add-to-shelf col-lg-12 text-center">
      
      </div>
    </div>
  </div>
  <div class="col-sm-9 user-review">
    <div class="row rating">
      <input type="number"
         class="rating show-rating-stars"
         min=0
         max=5
         step=0.01
         value="<%= review.escape('rating') %>"
         data-size="xs">
      <small><%= GoodShows.dateFormatWithTime(review.get('updated_at')) %></small>
    </div>
    <div class="row review-body">
      <%= marked(review.escape('review'))  %>
    </div>
  </div>
</div>
