<div class="row">
  <div class="col-sm-12 user-picture thumbnail">
    <a href="#users/<%= user.id %>">
      <img src="<%= user.get('file_url') %>" alt="<%= user.escape('name') %>" class="img-rounded img-responsive center-block">
    </a>
    <div class="caption text-center">
      <a class="h4" href="#users/<%= user.id %>"><%= user.escape('name') %></a>
    </div>
  </div>
</div>
