<td class="poster-col">
  <% if (show.get('poster_path')) { %>
  <a href="#shows/<%= show.id %>">
    <img src="https://image.tmdb.org/t/p/w92<%= show.get('poster_path') %>" alt="">
  </a>
  <% } %>
</td>
<td><a href="#shows/<%= show.id %>"><%= show.escape('original_name') %><a></td>
<td>
<% if (show.escape('first_air_date')) { %>
<%= new Date(show.escape('first_air_date')).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) %>
<% } %>
</td>