<div class="col-sm-8 user-show">
  <div class="row user-header">
    <div class="col-sm-2 user-picture">
      <img src="<%= user.get('file_url') %>" alt="<%= user.escape('name') %>" class="img-rounded img-responsive">
      <% if (user.get('current_user')) { %>
        <a href="#" class="user-picture-edit">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </a>
      <% } %>
    </div>
    <div class="col-sm-10 user-details">
      <h1 class="name">
        <%= user.escape('name') %>
        <small class="user-profile-option">
          
        </small>
      </h1>
    </div>
  </div>
  <div class="user-body">
    <div class="row shelves-header">
      <h4><%= user.escape('name') %>'s shelves</h4>
    </div>
    <div class="row shelves-list">
      
    </div>
    <div class="reviews-header row">
      <h4><%= user.escape('name') %>'s ratings and reviews</h4>
    </div>
    <div class="row reviews-list">
      
    </div>
  </div>
</div>
<div class="col-sm-4 friends-show">
  <div class="row friends-header">
    <h4><%= user.escape('name') %>'s friends</h4>
  </div>
  <div class="row friends-list-wrapper">
    
  </div>
  <div class="row friend-requests-list-wrapper">
    
  </div>
</div>
