<% var wantToWatchId = _.find(shelves.models, function(shelf) {
          return shelf.get('title') === 'Want to Watch'
        }) %>
<% wantToWatchId = wantToWatchId && wantToWatchId.id %>
<% if (wantToWatchId) { %>
<button type="button" class="btn btn-success add-show-to-shelf"
        data-id="<%= wantToWatchId %>" <%= hasShow(shelves.get(wantToWatchId), (show)) ? 'disabled="disable"' : "" %>>
        Want to watch
</button>
<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <span class="caret"></span>
  <span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
  <% shelves.each( function(shelf) { %>
    <li<%= hasShow(shelf, show) ? ' class="disabled"' : '' %>>
      <a href="javascript:void(0);"
         class="add-show-to-shelf"
         data-id="<%= shelf.id %>">
        <%= shelf.escape('title') %>
      </a>
    </li>
  <% }); %>
</ul>
<% } %>