<div class="col-lg-2 user-box">
  <div class="row">
    <div class="col-lg-12 user-picture">
      <a href="#users/<%= user.id %>">
        <img src="<%= user.get('file_url') %>" alt="<%= user.escape('name') %>" class="img-rounded img-responsive center-block">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <a class="h4" href="#users/<%= user.id %>"><%= user.escape('name') %></a>
    </div>
  </div>
</div>
<div class="col-lg-10 user-review">
  <div class="row rating">
    <input type="number"
       class="rating show-rating-stars"
       min=0
       max=5
       step=0.01
       value="<%= review.escape('rating') %>"
       data-size="xs">
    <small><%= GoodShows.dateFormatWithTime(review.get('updated_at')) %></small>
  </div>
  <div class="row review-body">
    <%= marked(review.escape('review'))  %>
  </div>
</div>