<!DOCTYPE html>
<html>
<head>
  <title>GoodShows</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= filepicker_js_include_tag %>
  <%= csrf_meta_tags %>
  <% if current_user %>
  <script>CURRENT_USER_ID = <%= current_user.id %>;</script>
  <% end %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
